body {
	background: #eae8e7;
	color: #767270;
	padding: 1%;
	font-size: 1.0em;
	font-family: verdana, sans-serif;
}

.sidebar {
	width:27%;
	display: inline-block;
	margin-left: 10%;
	background: #1167b7;
	color: white;
}
.profile-image {

	width: 100%;
	/*test image ronde
	position: center;
	border-radius: 50%;
  	margin-left: 50px;
  	margin-top: 50px;
  	*/
  }

  .sidebar-top { 
  	position: relative; 
  }

  .profile-name {
  	position: relative;
  	text-align: center;
  }

  .button{
  	border-radius: 5px;
  	padding: 5px 5px;
  	text-decoration: none;
  	text-align: center;
  	color: #fff;
  	display: inline-block;
  	background-color: #1c5887;
  	box-shadow: 0px 5px 0px 0px #144164;
  }

  #button1{

  	margin-left: 24%;
  }

  .button:hover{
  	background-color: #206499;
  	box-shadow: 0px 5px 0px 0px #1b4d73;
  }

  .profile-info {
  	padding: 20px 10px;
  	border-bottom: 1px solid #bdbdbd;
  }

  .profile-info .key{
  	font-weight: bold;	
  }

  .profile-info p{
  	margin-left: 5%;
  	display: inline-block;
  	vertical-align: top;
  }

  #button2{
  	margin-left: 35%;
  }

  .content {
  	width: 48%;
  	margin-left: 2%;
  	display: inline-block;
  	vertical-align: top;
  }

  #work-experience, #education, #project, #skills{
  	margin-bottom: 30px;
  	padding: 5% 2% 5% 10%;
  	background: white;
  	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .info {
  	padding: 2% 1%;
  	border-bottom: 1px solid #bdbdbd;
  }


  .sub-heading { 
  	font-weight: bold;       
  }

  .duration, .language{
  	color: #5da4d9;
  	font-size: 1.0em;
  }

#skills ul {
	margin-top: 7%;
  list-style-type: none;
  font-weight: bold;  
}

.slide {
  height: 1.3em;
  width: 93%;
  border: .1em solid #2D2D2D;
  border-radius: 3px;
  display: inline-block;
  margin: .5em 0 1em;
  text-align: center;
}

#java {
	height: 1.3em;
  width: 70%;
  background: #1c5887;
  display: block;
}

#c {
 height: 1.3em;
  width: 60%;
  background: #1c5887;
  display: block;
}

#html {
 height: 1.3em;
  width: 60%;
  background: #1c5887;
  display: block;
}

#css {
  height: 1.3em;
  width: 60%;
  background: #1c5887;
  display: block;
}

#sqlite {
 height: 1.3em;
  width: 50%;
  background: #1c5887;
  display: block;
}

#cobol {
 height: 1.3em;
  width: 40%;
  background: #1c5887;
  display: block;
}

#shell {
  height: 1.3em;
  width: 40%;
  background: #1c5887;
  display: block;
}

#javascript {
  height: 1.3em;
  width: 30%;
  background: #1c5887;
  display: block;
}

#skills:hover #java,
#skills:hover #c,
#skills:hover #html,
#skills:hover #css,
#skills:hover #sqlite,
#skills:hover #cobol,
#skills:hover #shell,
#skills:hover #javascript {
  	
  	animation: grow 1.4s .3s cubic-bezier(0.39, 0.07, 0.16, 0.97);
}

@keyframes grow {
  0% {
    width: 0;
  }
}
.PercentText{
	padding-right: 5%;
    float: right;
    color: #FFF;
  }



